@tailwind base;
@tailwind components;
@tailwind utilities;

.rsw-editor {
  border: none !important;

  color: white;
}
.rsw-toolbar {
  background: transparent !important;
  border: none !important;
}

.rsw-toolbar .rsw-btn {
  color: white;
}

.rsw-toolbar .rsw-btn:hover {
  background-color: black;
}

.rsw-toolbar .rsw-dd {

    color: white;
    background-color: black;
    border: none;
    outline: none;
}